In [1]:
import pandas as pd

In [2]:
left = pd.DataFrame({'A':[1,2],'B':[1,2]})
right = pd.DataFrame({'A':[4,5,6],'B':[2,2,2]})

In [6]:
pd.merge(left,right,on='B',validate='one_to_many')

   A_x  B  A_y
0    2  2    4
1    2  2    5
2    2  2    6

In [7]:
df1 = pd.DataFrame({'col1':[0,1],'col_left':['a','b']})
df2 = pd.DataFrame({'col1':[1,2,2],'col_right':[2,2,2]})

In [8]:
pd.merge(df1,df2,on = 'col1',how = 'outer',indicator=True)

   col1 col_left  col_right      _merge
0     0        a        NaN   left_only
1     1        b        2.0        both
2     2      NaN        2.0  right_only
3     2      NaN        2.0  right_only

In [9]:
pd.merge(df1,df2,on = 'col1',how = 'outer',indicator='indicator_column')

   col1 col_left  col_right indicator_column
0     0        a        NaN        left_only
1     1        b        2.0             both
2     2      NaN        2.0       right_only
3     2      NaN        2.0       right_only

In [10]:
from pandas.api.types import CategoricalDtype

In [11]:
X = pd.Series(np.random.choice(['foo','bar'],size = (10,)))

In [15]:
X = X.astype(CategoricalDtype(categories = ['foo','bar']))

In [22]:
left = pd.DataFrame({'X': X,
                    'Y':np.random.choice(['one','two','three'],size = (10,))})

In [33]:
right = pd.DataFrame({'X':pd.Series(['foo','bar'],dtype = CategoricalDtype(['b','foo'])),
                      'Z':[1,2]
                                    })

In [36]:
right

     X  Z
0  foo  1
1  NaN  2

In [35]:
pd.merge(left,right)

     X      Y  Z
0  foo    two  1
1  foo  three  1
2  foo    two  1
3  foo    two  1