In [2]:
import pandas as pd

In [3]:
S = pd.Series(['lower','CAPITALS','This is a sentence','SvApCase'])

####  Convert

In [4]:
S.str.lower()

0                 lower
1              capitals
2    this is a sentence
3              svapcase
dtype: object

In [5]:
S.str.upper()

0                 LOWER
1              CAPITALS
2    THIS IS A SENTENCE
3              SVAPCASE
dtype: object

In [6]:
S.str.title()

0                 Lower
1              Capitals
2    This Is A Sentence
3              Svapcase
dtype: object

In [9]:
S.str.capitalize()

0                 Lower
1              Capitals
2    This is a sentence
3              Svapcase
dtype: object

In [10]:
S.str.swapcase()

0                 LOWER
1              capitals
2    tHIS IS A SENTENCE
3              sVaPcASE
dtype: object

#### cat

In [14]:
s = pd.Series(['a','b',np.nan,'d','F','1'])

In [15]:
s.str.cat(sep = ' ')

'a b d F 1'

In [16]:
s.str.cat(sep = ' ',na_rep = '?')

'a b ? d F 1'

In [18]:
s.str.cat(list(str('12345a')),sep =',')

0    a,1
1    b,2
2    NaN
3    d,4
4    F,5
5    1,a
dtype: object

In [19]:
s.str.cat(list(str('12345a')),sep =',',na_rep='-')

0    a,1
1    b,2
2    -,3
3    d,4
4    F,5
5    1,a
dtype: object

In [20]:
s.str.cat(list(str('12345a')))

0     a1
1     b2
2    NaN
3     d4
4     F5
5     1a
dtype: object

In [162]:
s = pd.Series(['a','b',np.nan,'d','F','1'])

In [26]:
t = pd.Series(list(str('123456a')),index=[2,7,1,4,5,6,0])

In [27]:
s.str.cat(t,join='left',na_rep='-')

0    aa
1    b3
2    -1
3    d-
4    F4
5    15
dtype: object

In [28]:
s.str.cat(t,join='right',na_rep='-')

2    -1
7    -2
1    b3
4    F4
5    15
6    -6
0    aa
dtype: object

In [29]:
s.str.cat(t,join='outer',na_rep='-')

0    aa
1    b3
2    -1
3    d-
4    F4
5    15
6    -6
7    -2
dtype: object

In [30]:
s.str.cat(t,join = 'inner',na_rep='-')

0    aa
1    b3
2    -1
4    F4
5    15
dtype: object

#### 格式

#####  center

In [37]:
s.str.center(10,fillchar='-')

0    ----a-----
1    ----b-----
2           NaN
3    ----d-----
4    ----F-----
5    ----1-----
dtype: object

In [176]:
s.str.ljust(10,'5')

0    a555555555
1    b555555555
2           NaN
3    d555555555
4    F555555555
5    1555555555
dtype: object

In [177]:
s.str.rjust(10,'1')

0    111111111a
1    111111111b
2           NaN
3    111111111d
4    111111111F
5    1111111111
dtype: object

#### 内容

#####  contain

In [38]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])

In [44]:
s1.str.contains('dog',regex=False)

0    False
1     True
2    False
3    False
4      NaN
dtype: object

In [48]:
### case: sensitive to lower or upper
s1.str.contains('Dog',case=True,regex=False)

0    False
1    False
2    False
3    False
4      NaN
dtype: object

In [50]:
s1.str.contains('og',na=False,regex=True)

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [51]:
s1.str.contains('house|dog',regex=True)

0    False
1     True
2     True
3    False
4      NaN
dtype: object

In [47]:
I1 = pd.Index(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
I1.str.contains('g',regex = False)

Index([False, True, False, False, nan], dtype='object')

In [52]:
# regex
import re

In [53]:
s1.str.contains('PARROt',flags=re.IGNORECASE,regex=False)

0    False
1    False
2    False
3    False
4      NaN
dtype: object

In [58]:
s1.str.contains('PARRot',case=False,regex=False)

0    False
1    False
2     True
3    False
4      NaN
dtype: object

In [59]:
s1.str.contains('\d',regex=True)

0    False
1    False
2    False
3     True
4      NaN
dtype: object

In [61]:
s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])

In [62]:
s2.str.contains('.0',regex=True)

0     True
1     True
2    False
3     True
4    False
dtype: bool

#####  count

In [63]:
s = pd.Series(['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat'])

In [66]:
s.str.count('a',flags=re.IGNORECASE)

0    1.0
1    0.0
2    3.0
3    2.0
4    NaN
5    2.0
6    1.0
dtype: float64

In [67]:
s.str.count('a')

0    0.0
1    0.0
2    2.0
3    2.0
4    NaN
5    0.0
6    1.0
dtype: float64

In [77]:
s = pd.Series(['$', 'Bbsbb', 'Aabb$', '$$ca', 'C$B$', 'cat','$$'])

In [80]:
s.str.count('$')

0    1
1    1
2    1
3    1
4    1
5    1
6    1
dtype: int64

In [76]:
s.str.count('\$')

0    1
1    0
2    1
3    2
4    2
5    0
6    2
dtype: int64

In [82]:
pd.Index(['A', 'A', 'Aaba', 'cat']).str.count('a')

Int64Index([0, 0, 2, 1], dtype='int64')

#####  end with

In [83]:
s = pd.Series(['bat', 'bear', 'caT', np.nan])

In [87]:
s.str.endswith('t',na = False)

0     True
1    False
2    False
3    False
dtype: bool

#####  extract

In [113]:
s = pd.Series(['a1F', 'b2F', 'c3M'])

In [105]:
s.str.extract(r'([ab])(\d)')

     0    1
0    a    1
1    b    2
2  NaN  NaN

In [104]:
s.str.extract(r'([ab])?(\d)')

     0  1
0    a  1
1    b  2
2  NaN  3

In [114]:
s.str.extract(r'([ab])(\d)([FM])')

     0    1    2
0    a    1    F
1    b    2    F
2  NaN  NaN  NaN

In [119]:
s.str.extract(r'(?P<letter>[ab])(?P<digit>\d)(?P<Upper>[FM])')

  letter digit Upper
0      a     1     F
1      b     2     F
2    NaN   NaN   NaN

In [122]:
s.str.extract(r'[ab](\d)',expand=False)

0      1
1      2
2    NaN
dtype: object

In [121]:
s.str.extract(r'[ab](\d)',expand=True)

     0
0    1
1    2
2  NaN

##### extract_all

In [126]:
s = pd.Series(["a1a2a41", "b1b2bb", "c1"], index=["A", "B", "C"])

In [127]:
s.str.extractall(r'([ab])(\d)')

         0  1
  match
A 0      a  1
  1      a  2
  2      a  4
B 0      b  1
  1      b  2

In [131]:
s.str.extractall(r'(?P<Letter>[ab])(?P<digits>\d)')

        Letter digits
  match
A 0          a      1
  1          a      2
  2          a      4
B 0          b      1
  1          b      2

In [132]:
s.str.extractall(r'(?P<Letter>[ab])?(?P<digits>\d)')

        Letter digits
  match
A 0          a      1
  1          a      2
  2          a      4
  3        NaN      1
B 0          b      1
  1          b      2
C 0        NaN      1

In [133]:
s.str.extractall(r'[ab](?P<digits>\d)')

        digits
  match
A 0          1
  1          2
  2          4
B 0          1
  1          2

#####  get

In [153]:
s = pd.Series(["String",
              (1, 2, 3),
               ["a", "b", "c"],
              123,
               {1: "Hello", "2": "World"}])

In [160]:
s.str.get(1)

0        t
1        2
2        b
3      NaN
4    Hello
dtype: object

In [161]:
s.str.get(-1)

0       g
1       3
2       c
3     NaN
4    None
dtype: object

#####  find & findall == index

In [143]:
s = pd.Series(["a1A2a41", "b1ab2bb", "ca1"], index=["A", "B", "C"])

In [144]:
s.str.find('a',start = 2,end = 3)

A   -1
B    2
C   -1
dtype: int64

In [146]:
s.str.findall('a')

A    [a, a]
B       [a]
C       [a]
dtype: object

In [148]:
s.str.findall('a',flags=re.I)

A    [a, A, a]
B          [a]
C          [a]
dtype: object

In [149]:
s = pd.Series(['Lion', 'Monkey', 'Rabbit'])

In [150]:
s.str.findall('on')

0    [on]
1    [on]
2      []
dtype: object

In [151]:
s.str.findall('on$')

0    [on]
1      []
2      []
dtype: object

#####  strip

In [178]:
s = pd.Series(['1. Ant.  ', '2. Bee!\n', '3. Cat?\t', np.nan])

In [180]:
s.str.strip()

0    1. Ant.
1    2. Bee!
2    3. Cat?
3        NaN
dtype: object

In [ ]:
s.str.

#####  join

In [168]:
S = pd.Series([['lion', 'elephant', 'zebra'],
               [1.1, 2.2, 3.3],
               ['cat', np.nan, 'dog'],
               ['cow', 4.5, 'goat'],
               ['duck', ['swan', 'fish'], 'guppy']])

In [169]:
S.str.join('-')

0    lion-elephant-zebra
1                    NaN
2                    NaN
3                    NaN
4                    NaN
dtype: object

#####  len

In [171]:
S.str.len()

0    3
1    3
2    3
3    3
4    3
dtype: int64